
{{> head }}
  {{> navbar }}
  <div id="layoutSidenav">
    {{> sideNav }}
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid">
          <div class="row mt-4">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <h3 class="col-lg-12 col-form-label"><b>{{tituloTable}}</b></h3>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12 table-responsive">
                      <table id="ordenadorTable" class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Codigo Equipo</th>
                            <th scope="col">Persona Responsable</th>
                            <th scope="col">Tipo Equipo</th>
                            <th scope="col">Estado del Equipo</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      {{> footer-authentication }}
    </div>
  </div>
{{> footer }}