    
    <div class="modal-body">
      <div class="col-lg-12">
        <div class="row">
          <label for="staticEmail2" class="col-form-label col-lg-3">Nombre:</label>
          <input type="text" class="form-control col-lg-9" name="nombreModelRegistro">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      <button type="submit" class="btn btn-primary">Añadir</button>
    </div>